<ul class="components list-group row">
    <li ng-repeat="(type, component) in components" class="list-group-item component col-md-6 clearfix {{ type }}"
        id="component-{{ $index }}" data-name="{{ type }}"  data-type="{{ component.type }}" data-logo="{{ component.logo }}" draggable="">

        <div class="element">
            <img ng-src="{{ component.logo }}" alt="{{ component.name }}" />
            <span class="name">{{ component.name }}</span>
        </div>
    </li>

    <li class="list-group-item component col-md-6 fixed">
        <div class="element">
            And more to come ...
        </div>
    </li>
</ul>
