<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="/favicon.ico">

    <title>{{ page.title }}</title>

    <link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <link href="/assets/css/carousel.css" rel="stylesheet">
    <link href="/assets/css/styles.css" rel="stylesheet">
    <link href="/assets/css/mobile.css" rel="stylesheet" media="only screen and (max-device width:480px)"/>
</head>

<body class="{{ page.body }}">

    <a href="https://github.com/marmelab/gaudi" class="fork"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub"></a>

    <div class="navbar-wrapper">
        <div class="navbar navbar-static-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <img src="/assets/img/logo.png" class="logo" width="60"/>
                    <a class="navbar-brand" href="/">Gaudi</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a target="_blank" href="http://marmelab.com/gaudi">Config file builder</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Documentation <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="/installation.html">Installation</a></li>
                                <li><a href="/configuration.html">Configuration</a></li>
                                <li><a href="/components.html">Components</a></li>
                                <li><a href="/binaries.html">Binaries</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">How-tos <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="/how-to-symfony.html">Run a Symfony application</a></li>
                                <li><a href="/demo.html">Run a NodeJS server with a Redis storage</a></li>
                                <li><a href="/how-to-symfony-cmf.html">Run a Symfony CMF application</a></li>
                            </ul>
                        </li>
                        <li><a target="_blank" href="https://github.com/marmelab/gaudi">Github</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    {{ content }}

    <footer {% if page.url != '/index.html' %}class="grey"{% endif %}>
        <div class="container">
            <p class="pull-right"><a href="#">Back to top</a></p>
            <div class="share">
                {% if page.url != '/index.html' %}
                <iframe src="http://ghbtns.com/github-btn.html?user=marmelab&repo=gaudi&type=watch&count=true&size=large"
                    allowtransparency="true" frameborder="0" scrolling="0" width="170" height="30"></iframe>
                {% endif %}
                <a href="https://twitter.com/GaudiBuilder" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @GaudiBuilder</a>
                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
            </div>
            <p>
                Gaudi is licensed under the <a target="_blank" href="https://github.com/marmelab/gaudi/blob/master/LICENSE">MIT Licence</a>,
                courtesy of <a target="_blank" href="http://marmelab.com">marmelab</a>.
            </p>
        </div>
    </footer>

    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/assets/js/docs.min.js"></script>

    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-50389342-1', 'gaudi.io');
        ga('send', 'pageview');
    </script>
</body>
</html>
